# Python
venv/
__pycache__/
*.pyc
.env

# Spark
spark_checkpoints/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/profiles.yml

# Windows
*.bat
Thumbs.db


spark_checkpoints
start_monitor.bat
start_pipeline.bat
start_spark.bat
run_dbt.bat
C:\Users\Vishal Chaurasia\Documents\GitHub\realtime-order-analytics-DEP\old_bat