order_analytics:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      user: postgres
      password: YOUR_PASSWORD_HERE
      port: 5432
      dbname: order_analytics
      schema: analytics
      threads: 4